Apps/__pycache__/VoronoiView.cpython-313.pyc
Apps/__pycache__/VTestUI.cpython-313.pyc
Apps/__pycache__/VoronoiCanvas.cpython-314.pyc
Apps/__pycache__/VoronoiController.cpython-313.pyc
*.pyc
*.pyc
Apps/__pycache__/VoronoiCanvas.cpython-314.pyc
Apps/__pycache__/VoronoiCanvas.cpython-313.pyc
Apps/__pycache__/VoronoiCanvas.cpython-313.pyc
.idea/misc.xml
Apps/__pycache__/VoronoiHandler.cpython-314.pyc
*.pyc
Apps/__pycache__/LabelModel.cpython-313.pyc
Apps/__pycache__/LabelView.cpython-313.pyc
Apps\__pycache__\LabelView.cpython-314.pyc
Apps\__pycache__\LabelModel.cpython-314.pyc
Apps\__pycache__\Label.cpython-314.pyc
Apps\__pycache__\CanvasTools.cpython-314.pyc