[MASTER]
extension-pkg-whitelist=PySide6
load-plugins=pylint_pyside6

[BASIC]
# Use naming styles instead of regex patterns
function-naming-style=camelCase
class-naming-style=PascalCase
variable-naming-style=camelCase
method-naming-style=camelCase
