
    QPushButton {
        border-image: url("../_UI Documents/Images/Button2.png");
        background-color: transparent;
        font-family: "Vanilla Extract";
        padding: 10px;
        font-size: 14pt;
        color: #8D8D8D;
    }

    QPushButton:hover {
        font-size: 13pt;
    }

